.navCategoryContainer {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    z-index: 100;
}

.navCategoryContainer>i {
    cursor: pointer;
}

.navCategoryContainer>p {
    margin-left: 16px;
}

.navigationContainer {
    border: 1px solid lightgrey;
    margin-left: 32px;
    width: fit-content;
}