.headerContainer {
    display: grid;
    grid-template-columns: 800px 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: lightgrey;
    height: 120px;
}

.headerContainer>i {
    cursor: pointer;
    margin-left: 32px;
}

.headerContainer>p {
    display: flex;
    justify-content: center;
}